<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>SVEDI</title>
        <link rel=stylesheet type="text/css" href="{{ asset('assets/css/home.css') }}" />
        <script type="text/javascript" src="{{ asset('assets/javascript/jquery-2.1.1.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/javascript/connexion.js')}}"></script>
    </head>
        
    <body>       
        <div id="svedi">
            <img src="{{ asset('assets/images/svediMoyen.png')}}"/>
        </div>
            
        <div id="connexion">
            <img src="{{ asset('assets/images/connexionTop.png')}}"/>
            <div>
                <div align="center">
                    
                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                    
                        
                        
                </div>
                    
                    
                    
                    
            </div>
            <img src="{{ asset('assets/images/connexionBtm.png')}}"/>
        </div>
    </body>
</html>