<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>SVEDI - Admin</title>
        <link rel=stylesheet type="text/css" href="{{ asset('assets/css/home.css') }}"/>
        <link rel=stylesheet type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
        <script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/search.js"></script>
        <script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/VerifFormulaire.js"></script>
        <script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/Desinscription.js"></script>
        <script type="text/javascript" src="http://localhost:8181/serveurdevoeux/web/assets/javascript/Notification.js"></script>


        <link rel=stylesheet type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
        <link rel=stylesheet type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css"/>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>

        <style>

            .centreVerticalement {
                display: inline-block;
                vertical-align: top;
                float: none;
            }


        </style>

    </head>
    <body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  href="{{ path('home')}}"> <img alt="serveur_voeux" src="{{ asset ('assets/images/SVEDI-small.png') }}" /></a>
        </div>
        &nbsp;
        <div class="container" style="font-size:17px">
            <ul class="nav navbar-nav" >
                <li class="active" ><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;  Accueil</a></li>
                <li ><a href="#"> <span class="glyphicon glyphicon-list"></span> &nbsp; Liste des utilisateurs</a></li>
                <li ><a href="#"><span class="glyphicon glyphicon-folder-close"></span>&nbsp; Liste des filière</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li ><a href="{{path('form_profile_user')}}"><span class="glyphicon glyphicon-user"></span> 
                        {% if is_granted("ROLE_ADMIN") %}
                             {{ app.user.nom }} {{ app.user.prenom }}
                        {% endif %}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        <span class="glyphicon glyphicon-log-out"></span>

                    </a></li>
            </ul>
        </div>
    </div>
</nav>