{% include "SRVDVServerBundle:admin:MenuAdmin.html.twig" %}

<div id="nav" >
	<div id="enseignant" class="ouvert">
		<h3>Administrateur</h3>
		<ul>
			<li  ><a href="{{path('form_profile_user')}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  &nbsp; Mon profil</a></li></br>
			<li  ><a href="{{path('list_form_Annee')}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;  G&eacute;rer Année</a></li></br>
            <li><a href="{{path('list_form_Type')}}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;  G&eacute;rer statut</a></li></br>
            <li ><a href="{{path('list_form_utilisateur')}}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; G&eacute;rer Users</a></li>	</br>		
            <li><a href="{{path('list_form_filiere')}}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;  G&eacute;rer fili&egrave;r</a></li></br>
            <li ><a  href="{{path('list_form_typeens')}}"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp;  Type Enseignement</a></li></br>
			<li class="active" ><a href="{{path('annee_suivante')}}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;  Basculer sur la nouvelle ann&eacute;e</a></li></br>
			
		</ul>
	</div>
	
</div>	


<div id="content">
	</br>
		

		<div class=" centreVerticalement">

		<div class="table-responsive">
                <table id="example" class="display" cellspacing="0" width="100%" >
                	<thead>
					<tr><th>#</th><th>Niveau</th><th>Filiere</th><th>nom</th><th><th>Annee Filiere</th>Coefficient</th><th>Basculer</th></tr>
				   </thead>
				   <tbody>
						{% for f in filiere_annee_Suivante %}
							<tr>
								<td>{{ f.id}}</td>
								<td>{{ f.niveau }}</td>
								<td>{{ f.nom }}</td>
								<td>
								{{ f.User.nom }} {{ f.User.prenom }}
								</td>
								
								
								<td>
           							{{ f.anneeFiliere }}
								</td>
								
							</tr>	
						{% endfor %}
                   </tbody>
				</table> 
            </div>

			
		</div>
	
</div>




<script>
$(document).ready(function() {
    $('#example').DataTable();
} );

function SupprimerUser(id){

	var rep=confirm('Clickez sur "OK" si vous voulez vraiment cet utilisateur' ) ;

	if(rep){
        window.location.href ='suppAnnee/'+id;
	}

}
</script>
{% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}