<html>
  {{ render (controller("SRVDVServerBundle:Default:nombreInscription", { 'id': 40 })) }}
  <div align="center">
    </br>
    <div class=" centreVerticalement">
      <div class="table-responsive">
        <table id="example" class="display" cellspacing="0" width="98%" >
          <thead>
            <tr><th>Filieres</th><th>Matieres</th><th>Nombre de groupe</th><th>Heures/Groupe</th><th>Type enseignement (Coef)</th><th>Semestre</th></tr>
          </thead>
          <tbody>
            {% for r in Matieres %}				
              {% if idAnnee  == r.filiere.anneeFiliere.id  %}
                <tr >
                  <td>{{ r.filiere.niveau }}&nbsp;{{ r.filiere.nom }}&nbsp;{{ r.filiere.anneeFiliere}}&nbsp;&nbsp; {% set i = 1 %}
                {% for user in r.filiere.User %}                
                  ({{ i }} - {{ user.nom }}  {{ user.prenom }}) 
                  {% set i = i +1  %}
                {% endfor %}
                  </td>
                  <td>{{ r. nom}}</td>
                  <td>{{ r.NombreGroupe}}</td>
                  <td>{{ r.nbrHeurGroupe}}</td>
                  <td>{{ r.TypeEnseignant.libelle}} &nbsp;({{ r.TypeEnseignant.coef}})</td>
                  <td>{{ r.semestre}}</td>					
                </tr>
              {% endif %}	
            {% endfor %}
          </tbody>
        </table> 
      </div>
    </div>
    <script>
      $(document).ready(function () {
        var table = $('#example').DataTable({
          "columnDefs": [
            {"visible": false, "targets": 0}
          ],
          "order": [[0, 'asc']],
          "displayLength": 25,
          "drawCallback": function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;

            api.column(0, {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group"><td colspan="6" align="center" style="background-color:#81F7BE">' + group + '</td></tr>'
                        );

                last = group;
              }
            });
          }
        });

        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function () {
          var currentOrder = table.order()[0];
          if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
            table.order([0, 'desc']).draw();
          } else {
            table.order([0, 'asc']).draw();
          }
        });
      });

    </script>
    {% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}