{% include "SRVDVServerBundle:admin:MenuAdmin.html.twig" %}

<div id="nav" >
    <div id="enseignant" class="ouvert">
        <h3>Administrateur</h3>
        <ul>
            <li class="active"><a href="{{path('form_profile_user')}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  &nbsp; Mon profil</a></li></br>
            <li><a href="{{path('list_form_Annee')}}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;  G&eacute;rer Année</a></li></br>
           <li ><a href="{{path('list_form_Type')}}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;  G&eacute;rer statut</a></li></br>
            <li ><a href="{{path('list_form_utilisateur')}}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; G&eacute;rer Users</a></li>    </br>       
            <li><a href="{{path('list_form_filiere')}}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;  G&eacute;rer fili&egrave;r</a></li></br>
            <li ><a  href="{{path('list_form_typeens')}}"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp;  Type Enseignement</a></li></br>
            <li><a href=""><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;  Basculer sur la nouvelle ann&eacute;e</a></li></br> 
        </ul>
    </div>
</div>	

<div id="content">
    </br>
        
    <div class="col-xs-5 col-md-5 col-lg-5">
        {{ render (controller("FOSUserBundle:Profile:edit")) }}
    </div>
        
    
</div>


{% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}