<html>
{{ render (controller("SRVDVServerBundle:Default:nombreInscription", { 'id': 43 })) }}

<div id="content">
    </br>
        
    <div class="col-xs-2 col-md-4 col-lg-2 centreVerticalement">
      
{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
    </div>
        
    <div class=" centreVerticalement"> 
        <div class="table-responsive">
            <table id="example" class="display" cellspacing="0" width="100%" >
                <thead>
                    <tr><th>#</th><th>nom</th><th>prenom</th><th>username</th><th>mail</th><th>role</th><th>type</th><th>H</th><th>Mod</th><th>Supp</th></tr>
                </thead>
                <tbody>
                    {% for u in Users %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.nom }}</td>
                            <td>{{ u.prenom }}</td>
                            <td>{{ u.username }}</td>
                            <td>{{ u.email }}</td>
                            <td>
                                {% for role in u.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                            <td>{{ u.type.libelle }}</td>
                            <td>{{ u.nombreHeurTheo }}</td>
                            <td>
                                {% if u.enabled == 1 %}
                            <button  type="button" class="btn btn-success" onclick="window.location.href ='{{path('Modifier_Users',{'id':u.id }) }}'"><b ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></b></button>
                                 {% else %}
                                 <button  type="button" class="btn btn-danger" onclick="window.location.href ='{{path('Modifier_Users',{'id':u.id }) }}'"><b ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></b></button>
                                 {% endif %}

                           </td>
                            <td><button type="button" class="btn btn-warning"  onclick="SupprimerUser({{ u.id }})"><b><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></b></button></td>
                        </tr>	
                    {% endfor %}
                </tbody>
            </table> 
        </div>
        <h1>Etat mail :: {{email}}</h1>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    function SupprimerUser(id){
        
        var rep=confirm('Clickez sur "OK" si vous voulez vraiment cet utilisateur' ) ;
        
        if(rep){
            window.location.href ='suppUsers/'+id;
        }
    }
</script>
{% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}