<html>
  {{ render (controller("SRVDVServerBundle:Default:nombreInscription" , { 'id': 30 })) }}



    </br>
    <h4 align="center"> Choisissez la matière (COURS , TD ou TP ) que vous voulez completer </h4>

    {% set tempArray = {} %}
    {% set ProfArray = {} %}
     {% set TotalArray = {} %}
    {% for item in Reserves %}
      {% if tempArray['_'~item.Matiere.id] is defined %}
      
        {% set tempArray = tempArray|merge({('_'~item.Matiere.id):(tempArray['_'~item.Matiere.id]+item.nbHeur)}) %}
      {% else %}
        {% set tempArray = tempArray|merge({('_'~item.Matiere.id):(item.nbHeur)}) %}
        
      {% endif %}

      {% set heur = item.nbHeur*item.Matiere.TypeEnseignant.coef  %}

      {% if ProfArray['_'~item.Matiere.Filiere.id] is defined %}
      
        {% set ProfArray = ProfArray|merge({('_'~item.Matiere.Filiere.id):(ProfArray['_'~item.Matiere.Filiere.id]+heur )}) %}
      {% else %}
        {% set ProfArray = ProfArray|merge({('_'~item.Matiere.Filiere.id):(heur )}) %}
        
      {% endif %}
    {% endfor %}

    {% for matiere in matieres %} 
       {% set heurT = matiere.NombreGroupe*matiere.TypeEnseignant.coef*matiere.nbrHeurGroupe  %}
    {% if TotalArray['_'~matiere.Filiere.id] is defined %}    
      
        {% set TotalArray = TotalArray|merge({('_'~matiere.Filiere.id):(TotalArray['_'~matiere.Filiere.id] + heurT )}) %}
          {% else %}
        {% set TotalArray = TotalArray|merge({('_'~matiere.Filiere.id):( heurT )}) %}
        
      {% endif %}
    {% endfor %}

    <div class="table-responsive">
      <table id="example" class="display" cellspacing="0" width="99%" >
        <thead>
          <tr><th>Filieres</th><th>Matières</th><th>Type(Coef)</th><th>Profs</th><th>Heures réservées</th><th>Total</th><th>Nombre de groupe</th><th>Heures/Groupes</th><th>Semestre</th><th></th></tr>
        </thead>

        <tbody>
          {% for r in matieres %}	

                 {% set access = 0 %} 
                          {% for user in r.Filiere.user %}  
                          {% if app.user.id  == user.id or app.user.roles[0]== 'ROLE_ADMIN'  %}
                            {% set access = 1 %}            
                          
                          {% endif %} 
                       {% endfor %}	

            {% if idAnnee  == r.filiere.anneeFiliere.id and access == 1  %}

              {% if tempArray['_'~r.id] is not defined %}
                {% set tempArray = tempArray|merge({('_'~r.id):0}) %}
              {% endif %}
              {% if ProfArray['_'~r.filiere.id] is not defined %}
                {% set ProfArray = ProfArray|merge({('_'~r.Filiere.id):0}) %}
              {% endif %}

             
              {% if tempArray['_'~r.id] >  (r.nbrHeurGroupe * r.NombreGroupe )%}
                {% set color21='#FE2E2E' %}						
              {% endif %}
              {% if tempArray['_'~r.id] ==  (r.nbrHeurGroupe * r.NombreGroupe ) %}
                {% set color21='#58FA58' %}						
              {% endif %}

              {% if tempArray['_'~r.id] <  (r.nbrHeurGroupe * r.NombreGroupe ) %}
                {% set color21='#F3F781' %}						
              {% endif %}


              <tr style="background-color:{{color21}}">
                
                <td>{{ r.filiere.niveau }}&nbsp;{{ r.filiere.nom }}&nbsp;{{ r.filiere.anneeFiliere}}&nbsp;&nbsp;{% set i = 1 %}
                {% for user in r.filiere.User %}                
                  ({{ i }} - {{ user.nom }}  {{ user.prenom }}) 
                  {% set i = i +1  %}
                {% endfor %}
                [  res : {{   ProfArray['_'~r.filiere.id] |round}} H / total:{{ TotalArray['_'~r.filiere.id] |round}}H  ]
                </td>
                <td>  {{ r. nom}}  </td>
                <td>{{ r.TypeEnseignant.libelle}} &nbsp;({{ r.TypeEnseignant.coef}})</td>
                <td>

                    
                    {% for item in Reserves %}  
                     {% if item.Matiere.id == r.id   %}     
                      {{item.User.nom~' '~item.User.prenom~'('~item.nbHeur~')'  }}</br>
                      {% endif %}
                    {% endfor %}




                </td>
                <td>{{ tempArray['_'~r.id] |round}}
                    
                </td>
                <td>{{ r.nbrHeurGroupe * r.NombreGroupe  }}</td>
                <td>{{ r.NombreGroupe}}</td>
                <td>{{ r.nbrHeurGroupe}}</td>									
                <td>{{ r.semestre}}</td>								
                <td> 
                  <button  type="button" class="btn btn-danger" onclick="window.location.href = '{{path('list_form_inscription_matieres_etat',{'id':r.id}) }}'"><b ><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Select</b></button>
                  
                </td>

              </tr>
            {% endif %}	
          {% endfor %}
        </tbody>
      </table> 
    </div>

  <script type="text/javascript" charset="utf-8" >

    $(document).ready(function () {
      var table = $('#example').DataTable({
        "columnDefs": [
          {"visible": false, "targets": 0}
        ],
        "order": [[0, 'asc']],
        "displayLength": 25,
        "drawCallback": function (settings) {
          var api = this.api();
          var rows = api.rows({page: 'current'}).nodes();
          var last = null;

          api.column(0, {page: 'current'}).data().each(function (group, i) {
            if (last !== group) {
              $(rows).eq(i).before(
                      '<tr class="group"><td colspan="6" align="center" >' + group + '</td></tr>'
                      );

              last = group;
            }
          });
        }
      });

      // Order by the grouping
      $('#example tbody').on('click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
          table.order([0, 'desc']).draw();
        } else {
          table.order([0, 'asc']).draw();
        }
      });
    });

  </script>

  {% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}