<html>
{{ render (controller("SRVDVServerBundle:Default:nombreInscription", {'id': 32 })) }}





<div align="center">
	</br>
		<div class=" centreVerticalement">

  
            {{ form_start(f,{'attr':{'novalidate':'novalidate'}})}}
            <fieldset class="well the-fieldset">
    <legend > Ajouter une matière:</legend>
					<div class="form-group">
					{{ form_label(f.nom,'Nom : ')}}
					{{ form_widget(f.nom,{'attr':{'class':'form-control'}})}}
					</div>
					<div class="form-group">
					{{ form_label(f.NombreGroupe,'Nombre de groupe : ')}}
					{{ form_widget(f.NombreGroupe,{'attr':{'class':'form-control'}})}}
					</div>
					<div class="form-group">
					{{ form_label(f.nbrHeurGroupe,'Nombre d\'heures par groupe : ')}}
					{{ form_widget(f.nbrHeurGroupe,{'attr':{'class':'form-control'}})}}
					</div>
					
					<div class="form-group">
					{{ form_label(f.semestre,'Semestre : ')}}
					{{ form_widget(f.semestre,{'attr':{'class':'form-control'}})}}
					</div>
					<div class="form-group">
					{{ form_label(f.Filiere,'Filiere : ')}}
					{{ form_widget(f.Filiere,{'attr':{'class':'form-control'}})}}
					</div>
					<div class="form-group">
					{{ form_label(f.TypeEnseignant,'Type Enseignement : ')}}
					{{ form_widget(f.TypeEnseignant,{'attr':{'class':'form-control'}})}}
					</div>
					
					<div class="form-group">
					
					{{ form_widget(f.save,{'attr':{'class':'btn btn-success'}})}}
					{{ form_widget(f.reset,{'attr':{'class':'btn btn-info'}})}}
					</div>
					  </fieldset>

			{{ form_end(f)}}		
		</div>
<div class=" centreVerticalement">&nbsp;&nbsp;&nbsp;&nbsp;</div>

		<div class=" centreVerticalement">

			<div class="table-responsive">
                <table id="example" class="display" cellspacing="0" width="100%" >
                	<thead>
                		<tr ><th align="center" colspan="20" >Liste des matières</th></tr>
					<tr><th>nom</th><th>h/groupe</th><th>groupes</th><th>Année</th><th>semestre</th><th>Filiere</th><th>Type-Ens</th><th>Mod</th><th>Supp</th></tr>
				   </thead>
				   <tbody>
						{% for u in ListeMatieres %}
						{% if u.Filiere.anneeFiliere.id == idAnnee %}

							<tr>
								<td>{{ u.nom }}</td>
								<td>{{ u.nbrHeurGroupe }}</td>
								<td>{{ u.NombreGroupe }}</td>
								<td>{{ u.Filiere.anneeFiliere }}</td>
								<td>{{ u.semestre }}</td>
								<td>{{ u.Filiere.niveau}}&nbsp;{{ u.Filiere.nom}}</td>
								<td>{{ u.TypeEnseignant.libelle }}</td>
								
								<td>
									{% if app.user.id  == u.Filiere.user.id  %}
									 	<button  type="button" class="btn btn-primary" onclick="window.location.href ='{{path('Modifier_Matiere',{'id':u.id }) }}'"><b ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></b></button>
 									{% endif %}	
								</td>
								<td>
									{% if app.user.id  == u.Filiere.user.id  %}
									<button type="button" class="btn btn-warning"  onclick="SupprimerUser({{ u.id }})"><b><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></b></button>
									{% endif %}	
								</td>
							</tr>
							{% endif %}	
						{% endfor %}
                   </tbody>
				</table> 
            </div>
		</div>
	
</div>




<script>

$(document).ready(function() {
    $('#example').DataTable();
} );

function SupprimerUser(id){

	var rep=confirm('Clickez sur "OK" si vous voulez vraiment cet utilisateur' ) ;

	if(rep){
        window.location.href ="SuppMatiere/"+id;
	}

}
</script>


{% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}
