<html>
{{ render (controller("SRVDVServerBundle:Default:nombreInscription", { 'id': 31 })) }}
	


<div id="content">
	</br>

	</br>
		<div class="col-xs-2 col-md-4 col-lg-3 centreVerticalement">	  
            {{ form_start(f,{'attr':{'novalidate':'novalidate'}})}}
                 <fieldset class="well the-fieldset">
                 <legend > Ajouter une réservation:</legend>
					<div class="form-group">
					{{ form_label(f.nbHeur,'Nombre d\'heures  : ')}}
					{{ form_widget(f.nbHeur,{'attr':{'class':'form-control'}})}}
					</div>
				
					<div class="form-group">
					{{ form_label(f.Matiere,'Matiere : ')}}
					{{ form_widget(f.Matiere,{'attr':{'class':'form-control'}})}}

					</div>
					
					
					<div class="form-group">
					
					{{ form_widget(f.save,{'attr':{'class':'btn btn-success'}})}}
					{{ form_widget(f.reset,{'attr':{'class':'btn btn-info'}})}}
					</div>
					 </fieldset>
			{{ form_end(f)}}		
		</div>

		<div class=" centreVerticalement">

			<div class="table-responsive">
                <table id="example" class="display" cellspacing="0" width="100%" >
                	<thead>
                		<tr><th colspan="20">listes des réservations sur la filière " {{ fil.niveau}} {{ fil.nom}}  {{ fil.anneeFiliere}}"</th></tr>
					<tr><th>#</th><th>Date </th><th>Nombre d\'heures </th><th>Utilisateur </th><th>Matiere</th><th>Type </th><th>Heures Total</th><th>Mod</th><th>Supp</th></tr>

				   </thead>
				   <tbody>
						{% for u in reservations %}
						{% if fil.id  == u.Matiere.filiere.id  %}
							<tr>
								<td>{{ u.id }}</td>
								<td>{{ u.dateInscription | date('Y-m-d') }}</td>
								<td>{{ u.nbHeur }}</td>
								<td>{{ u.User.nom }}&nbsp;{{ u.User.prenom }}</td>
								<td>{{ u.Matiere.nom}}</td>
								<td>{{ u.Matiere.TypeEnseignant.libelle }}</td>
								<td>{{ u.Matiere.nbrHeurGroupe * u.Matiere.NombreGroupe }}</td>

								
								<td>
									{% if app.user.id  == u.user.id  %}
										<button  type="button" class="btn btn-primary" onclick="window.location.href ='{{path('ModInscription_responsable',{'id':u.id }) }}'"><b ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></b></button>
									{% endif %}
								</td>
								<td>
									{% if app.user.id  == u.user.id  %}
										<button type="button" class="btn btn-warning"  onclick="SupprimerUser({{ u.id }})"><b><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></b></button>
									{% endif %}
								</td>
							</tr>
							{% endif %}	
						{% endfor %}
                   </tbody>
				</table> 
            </div>
		</div>
	
</div>




<script>

$(document).ready(function() {
    $('#example').DataTable();
} );

function SupprimerUser(id){

	var rep=confirm('Clickez sur "OK" si vous voulez vraiment cet utilisateur' ) ;

	if(rep){
        window.location.href ="SuppInscription/"+id;
	}

}
</script>


{% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}
