<html>
  {{ render (controller("SRVDVServerBundle:Default:nombreInscription" , { 'id': 20 })) }}

  <div class="container">

    </br>
    <h4 align="center"> Choisissez la matiére (COURS , TD ou TP ) que vous voulez réserver  &nbsp;&nbsp; <button  type="button" class="btn btn-info" onclick="window.location.href = '{{path('ChoixFiliereEns_enseignant') }}'"><b ><span class="glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;Retour</b></button></h4>



    {% set tempArray = {} %}
    {% for item in Reserves %}

      {% if tempArray['_'~item.Matiere.id] is defined %}
        {% set tempArray = tempArray|merge({('_'~item.Matiere.id):(tempArray['_'~item.Matiere.id]+item.nbHeur)}) %}
      {% else %}
        {% set tempArray = tempArray|merge({('_'~item.Matiere.id):(item.nbHeur)}) %}
      {% endif %}


    {% endfor %}


    <div class="table-responsive">
      <table id="example" class="display" cellspacing="0" width="99%" >
        <thead>

          <tr><th>Filieres</th><th>Matieres</th><th>Type(Coef)</th><th>Somme des réservations</th><th>Total</th><th>Nombre de groupe</th><th>eures/Groupe</th><th>Semestre</th><th></th></tr>
        </thead>

        <tbody>
          {% for r in matieres %}       

            {% if idAnnee  == r.filiere.anneeFiliere.id   %}

              {% if tempArray['_'~r.id] is not defined %}
                {% set tempArray = tempArray|merge({('_'~r.id):0}) %}
              {% endif %}

              {% if tempArray['_'~r.id] >  (r.nbrHeurGroupe * r.NombreGroupe )%}
                {% set color21='#FE2E2E' %}                     
              {% endif %}
              {% if tempArray['_'~r.id] ==  (r.nbrHeurGroupe * r.NombreGroupe ) %}
                {% set color21='#58FA58' %}                     
              {% endif %}

              {% if tempArray['_'~r.id] <  (r.nbrHeurGroupe * r.NombreGroupe ) %}
                {% set color21='#F3F781' %}                     
              {% endif %}


              <tr style="background-color:{{color21}}">
                <td>{{ r.filiere.niveau }}&nbsp;{{ r.filiere.nom }}&nbsp;{{ r.filiere.anneeFiliere}}&nbsp;&nbsp;

                  {% set i = 1 %}
                {% for user in r.filiere.User %}                
                  ({{ i }} - {{ user.nom }}  {{ user.prenom }}) 
                  {% set i = i +1  %}
                {% endfor %}


                </td>
                <td> {{ r. nom}}  </td>
                <td>{{ r.TypeEnseignant.libelle}} ({{ r.TypeEnseignant.coef}})</td>
                <td>{{ tempArray['_'~r.id]}}</td>
                <td>{{ r.nbrHeurGroupe * r.NombreGroupe  }}</td>
                <td>{{ r.NombreGroupe}}</td>
                <td>{{ r.nbrHeurGroupe}}</td>                                   
                <td>{{ r.semestre}}</td>
                <td><button  type="button" class="btn btn-danger" onclick="window.location.href = '{{path('list_form_inscription',{'id':r.id}) }}'"><b ><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; select</b></button>
                </td>                               


              </tr>
            {% endif %} 
          {% endfor %}
        </tbody>
      </table> 
    </div>
  </div>






  <script type="text/javascript" charset="utf-8" >

    $(document).ready(function () {
      var table = $('#example').DataTable({
        "columnDefs": [
          {"visible": false, "targets": 0}
        ],
        "order": [[0, 'asc']],
        "displayLength": 25,
        "drawCallback": function (settings) {
          var api = this.api();
          var rows = api.rows({page: 'current'}).nodes();
          var last = null;

          api.column(0, {page: 'current'}).data().each(function (group, i) {
            if (last !== group) {
              $(rows).eq(i).before(
                      '<tr class="group"><td colspan="6" align="center" >' + group + '</td></tr>'
                      );

              last = group;
            }
          });
        }
      });

      // Order by the grouping
      $('#example tbody').on('click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
          table.order([0, 'desc']).draw();
        } else {
          table.order([0, 'asc']).draw();
        }
      });
    });

  </script>

  {% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}