<html>

{% if is_granted("IS_AUTHENTICATED_FULLY") %}  
                   {{ render (controller("SRVDVServerBundle:Default:nombreInscription", { 'id': 'Accueil' })) }}
                      {% else %}
                      
                     {% include "SRVDVServerBundle:admin:MenuAdmin.html.twig" %}
                     {% endif %}


{# nous ajoutond un underscore dans la clé #}

{% set tempArray = {} %}
	{% for item in Reserves %}

		{% if tempArray['_'~item.Matiere.id] is defined %}
			{% set tempArray = tempArray|merge({('_'~item.Matiere.id):(tempArray['_'~item.Matiere.id]+item.nbHeur)}) %}
		{% else %}
			{% set tempArray = tempArray|merge({('_'~item.Matiere.id):(item.nbHeur)}) %}
		{% endif %}

	        
	{% endfor %}


		   	
		   		   <div align="center" class="form-group row">
		   		   	<div class="col-xs-4 col-md-4 col-lg-4">
		   		   	</div>
		   		   	<div class="col-xs-2 col-md-2 col-lg-2">
					 <select type="text" id="min" name="min" class="form-control">
                        {% for an in Annees %}
		            	<option>{{ an.annee}}</option>
		            	 

		            	{% endfor %}
           			 </select>
           		  </div>
           		   </div>	 
					
					
           
            	
        </div>
			<div class="table-responsive">
                <table id="example" class="display" cellspacing="0" width="98%" >
                	<thead>
					<tr><th>filiere</th><th>Total</th><th>Date </th><th>heures </th><th>Enseignant</th><th>Cat Ens</th><th>Semestre</th><th>Matiere</th><th>Type </th><th>Somme</th><th>Total</th></tr>
				   </thead>
				   <tbody>
		
						{% for r in Reserves %}				

 						

								{% if tempArray['_'~r.Matiere.id] >  (r.Matiere.nbrHeurGroupe * r.Matiere.NombreGroupe )%}
									{% set color21='#FE2E2E' %}						
								{% endif %}
								{% if tempArray['_'~r.Matiere.id] ==  (r.Matiere.nbrHeurGroupe * r.Matiere.NombreGroupe ) %}
									{% set color21='#58FA58' %}						
								{% endif %}

								{% if tempArray['_'~r.Matiere.id] <  (r.Matiere.nbrHeurGroupe * r.Matiere.NombreGroupe ) %}
									{% set color21='#F3F781' %}						
								{% endif %}

								
								
									<tr style="background-color:{{color21}}">

										<td>{{ r.Matiere.filiere.niveau }}&nbsp;{{ r.Matiere.filiere.nom }}&nbsp;{{ r.Matiere.filiere.anneeFiliere}}&nbsp;&nbsp;({{ r.Matiere.filiere.User.nom}}&nbsp;{{ r.Matiere.filiere.User.prenom}})

											{% if idAnnee  == r.Matiere.filiere.anneeFiliere.id  %}
								 					 {% if is_granted("ROLE_RESP") %}  
								                       &nbsp;<button  type="button" class="btn btn-danger" onclick="window.location.href ='{{path('list_form_inscription',{'id':r.Matiere.filiere.id}) }}'"><b ><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Réserver</b></button>                
								                          
								                    {% endif %}

								                    {% if is_granted("ROLE_ENSEIG") %}  
								                     &nbsp;  <button  type="button" class="btn btn-danger" onclick="window.location.href ='{{path('list_form_inscription_enseignant',{'id':r.Matiere.filiere.id}) }}'"><b ><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Réserver</b></button>                
								                          
								                    {% endif %}
					                    	{% endif %}	
                    
									</td>
										<td>{{ r.Matiere.filiere.anneeFiliere}}</td>
										<td>{{ r.dateInscription | date('Y-m-d') }}</td>
										<td>{{ r.nbHeur }}</td>
										<td>{{ r.User.nom }}&nbsp;{{ r.User.prenom }}</td>
										<td>{{ r.User.type.libelle}}</td>
										<td>{{ r.Matiere.semestre }}</td>
										<td>{{ r.Matiere.nom}}</td>
										<td>{{ r.Matiere.TypeEnseignant.libelle }}</td>
										<td>{{ tempArray['_'~r.Matiere.id]  }}</td>
										<td>{{ r.Matiere.nbrHeurGroupe * r.Matiere.NombreGroupe  }}</td>

										
						</tr>	
						{% endfor %}
                   </tbody>
				</table> 
            
		</div>
	
</div>

<script type="text/javascript" charset="utf-8" >
$(document).ready(function() {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 0 }
        ],
        "order": [[ 0, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="16" align="center" >'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 


    // Order by the grouping
    $('#example tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table.order( [ 0, 'desc' ] ).draw();
        }
        else {
            table.order( [ 0, 'asc' ] ).draw();
        }
    } );

      $('#min').on( 'click', function() {
        
        table.draw();
    } );
} );

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        	
        var age = parseFloat( data[1] ) || 0; // use data for the age column
 
        if ( ( age == min  || isNaN( min ) )  )
        {
            return true;
        }
        return false;
        
    }
);

</script>


{% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}
