<html>
{% if is_granted("IS_AUTHENTICATED_FULLY") %}  
                   {{ render (controller("SRVDVServerBundle:Default:nombreInscription", { 'id': 'users' })) }}
                      {% else %}
                      
                     {% include "SRVDVServerBundle:admin:MenuAdmin.html.twig" %}
                     {% endif %}

</br>
<div>

					<div class="table-responsive">
                <table id="example" class="display" cellspacing="0" width="98%" >
                	<thead>
					<tr><th># </th><th>Nom lyes </th><th>Prenom</th><th>enseignant</th><th>Roles</th></tr>
				   </thead>
				   <tbody>
						{% for r in users %}				

						
						
							<tr >
								
								<td>{{ r.id }}</td>
								<td>{{ r.nom }}</td>
								<td>{{ r.prenom }}</td>
								
								<td>{{ r.type.libelle}}</td>								
								<td>
                                {% for role in r.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
							
								
							</tr>	
						{% endfor %}
                   </tbody>
				</table> 
            
		</div>
	
</div>

<script type="text/javascript" charset="utf-8" >

$(document).ready(function() {
    $('#example').DataTable(
      
      
         

    );
} );


</script>


{% include "SRVDVServerBundle:admin:footerAdmin.html.twig" %}



